.gr-diff {
  font-family: 'IBM Plex Mono' !important;
  font-weight: normal !important;
  font-size: 12pt !important;
  font-feature-settings: 'liga' 1 !important;
}

/*
.gr-syntax-keyword, .gr-syntax-comment {
  font-style: italic !important;
}
*/

.gr-linked-text {
  font-family: 'IBM Plex Mono' !important;
  font-weight: normal !important;
  font-size: 12pt !important;
}